{% block title %}First {{ name }} {% endblock %}

{% block body %}

Hello
    fuck
<br>
    <form method="get" action="#">
        <input type="text" name="foo"><br>
        <input type="submit" name="s">
    </form>

{% endblock %}